Functions 
callBack Functions 
Loops
Conditinal Statemet 
For in Loops
Foor Of Loops 
For each Loops
De-stucturing
Arrays
Objects
Arrays Methods
Objects Methods
Strings Methods
Rest Operators
Spread Operators
